@import "tailwindcss";
@plugin "daisyui";
:root { --bg: #0b1020; --moon: #f2f2f2; }
body { background: var(--bg); color: #f7f7f7; }
@font-face {
  font-family: "Avenir Next";
  src: url("/assets/fonts/avenir-next-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bauer Bodoni";
  src: url("/assets/fonts/BauerBodoni-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Police par défaut du site */
:root{
  --font-sans: "Avenir Next", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}
body{ font-family: var(--font-sans); }

